<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações do Candidato</title>
</head>
<body>
    <p>Informações do Candidato</p>

    <form th:object="${candidate}">
        <p> Nome: </p><p th:text="${candidate.name}"></p>
        <p> E-mail: </p><p th:text="${candidate.email}"></p>
        <p> Password: </p><p th:text="${candidate.password}"></p>
    </form>
    
</body>
</html>