<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Vagas Disponíveis</title>
    </head>

    <body class="bg-gray-900">
        <nav class="bg-gray-800">
            <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
                <div class="relative flex h-16 items-center justify-start text-white">
                    <div class="space-x-4">
                        <a href="/candidate/profile">Profile</a>
                        <a href="/candidate/jobs"  class="bg-gray-900 rounded-md px-3 py-2">Vagas</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container mx-auto mt-24 text-center">
            <form>
                <input type="text" name="filter" 
                class="bg-gray-50 text-gray-500 rounded w-96 p-3 focus:outline-none"
                placeholder="Busca de vaga" />

                <button class="bg-green-600 hover:bg-green-500 text-white w-24 p-3 ml-2 rounded">Buscar</button>
            </form>

            <div class="max-w-md mx-auto mt-10">
                <form method="post" th:action="@{/candidate/job/apply}" class="grid grid-cols-1 mb-4" th:each="job: ${jobs}">
                    <div class="bg-gray-700 p-4 rounded-lg shadow-md">
                        <input type="hidden" name="jobId" th:value="${job.id}" />
                        <h2 class="text-xl font-bold text-gray-100" th:text="${job.title}">Desenvolvedor(a) Java</h2>
                        <p class="text-gray-400" th:text="'Empresa: ' + ${job.companyId}">Empresa: ACME</p>
                        <p class="text-gray-400" th:text="'Local: ' + ${job.location}">Local: São Paulo</p>
                        <p class="text-gray-400" th:text="'Descrição: ' + ${job.description}">Descrição: Desenvolvimento de aplicações Java</p>
                        <button class="bg-green-600 rounded-md px-3 py-2 block text-center mt-4">Candidatar</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>