<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primeira Página HTML com Thymeleaf</title>
</head>
<body>

    <h1>Primeira Página HTML com Thymeleaf</h1>

    <p>Olá, Thymeleaf!</p>

    <p>Este é um exemplo de página HTML com Thymeleaf.</p>

    <p th:text="${mensagemDaController}"></p>

    <button type="button" th:onclick="window.location.href='/login'">Ir para a página de login</button>
</body>
</html>