<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primeira Página HTML com Thymeleaf</title>
</head>
<body>

    <h1>Primeira Página HTML com Thymeleaf</h1>

    <p>Olá, Thymeleaf!</p>

    <p>Este é um exemplo de página HTML com Thymeleaf.</p>

    <p>Para saber mais sobre Thymeleaf, acesse o site oficial: <a href="https://www.thymeleaf.org/">https://www.thymeleaf.org/</a></p>

    <p th:text="${mensagemDaController}"></p>
</body>
</html>